<%= render partial: "admin/shared/flash_messages" %>

<%= form_for ["admin", @article], html: {class: "form-horizontal"} do |f| %>
    <%= field_set_tag do %>
        <div class="control-group">
          <%= f.label :title, disabled: "disabled", class: "control-label" %>
          <div class="controls">
            <%= f.text_field :title, class: "span7" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :url, disabled: "disabled",class: "control-label" %>
          <div class="controls">
            <%= f.text_field :url, class: "span7" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :active, class: "control-label" %>
          <div class="controls">
            <label class="checkbox">
              <%= f.check_box :active %>
              Uncheck to hide this article.
            </label>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit "Update Article", class: "btn btn-primary" %>
          <%= link_to "Cancel", admin_articles_path, class: "btn"   %>
        </div>
    <% end %>
<% end %>