<% if article.image_url %>
<div class="img-cont" style="background-image: url(<%= article.image_url %>);"></div>
<% end %>
<h3>
  <%= article.title %>
  <span>
    <%= published_date(article.date_published) %>
    by <%= link_to "@#{article.source.name}", "http://twitter.com/"+article.source_name %>
  </span>
</h3>
<p><%= article.body.gsub("\n","<br/>").html_safe %></p>
<hr />
<p class="small">Fuente: <%= link_to article.title, article.url_extended %></p>