<div class="f-page">
  <%= render "page_title", :category => category %>
  <div class="box w-30 h-60 box-b-r title-top">
    <h3><%= articles[0].title %> <span>Published May 3, 2012</span></h3>
    <p><%= articles[0].body %></p>
  </div>
  <div class="box w-70 h-60 box-img-left title-top">
    <div class="img-cont img-7"></div>
    <h3><%= articles[1].title %> <span>Published May 3, 2012</span></h3>
    <p><%= articles[1].body %></p>
  </div>
  <div class="box w-40 h-40 box-img-left box-b-r title-top">
    <div class="img-cont img-8"></div>
    <h3><%= articles[2].title %> <span>Published May 3, 2012</span></h3>
    <p><%= articles[2].body %></p>
  </div>
  <div class="box w-30 h-40 box-b-r title-top">
    <h3><%= articles[3].title %> <span>Published May 3, 2012</span></h3>
    <p><%= articles[3].body %></p>
  </div>
  <div class="box w-30 h-40 title-top">
    <h3><%= articles[4].title %> <span>Published May 3, 2012</span></h3>
    <p><%= articles[4].body %></p>
  </div>
</div>