<div class="f-page">
  <%= render "page_title", :category => category %>
  <div class="box w-70 h-50 box-b-r title-top box-img-left">
    <%= render "article", :article => articles[0] %>
  </div>
  <div class="box w-30 h-50">
    <%= render "article", :article => articles[1] %>
  </div>
  <div class="box w-30 h-50 box-b-r title-top">
    <%= render "article", :article => articles[2] %>
  </div>
  <div class="box w-30 h-50 title-top box-img-left ">
    <div class="img-cont img-6"></div>
    <%= render "article", :article => articles[3] %>
  </div>
  <div class="box w-40 h-50 box-b-l title-top">
    <%= render "article", :article => articles[4] %>
  </div>
</div>