<div class="f-page">
  <%= render "page_title", :category => category %>
  <div class="box w-25 h-70">
    <% if articles[0].image_url %>
    <div class="img-cont" style="background-image: url(<%= articles[0].image_url %>);"></div>
    <% end %>
    <h3><%= articles[0].title %> <span>Published <%= articles[0].date_published.strftime("%b %e, %Y") %></span></h3>
    <p><%= articles[0].body.gsub("\n","<br/>").html_safe %></p>
  </div>
  <div class="box w-50 h-70 box-b-l box-b-r">
    <% if articles[1].image_url %>
    <div class="img-cont" style="background-image: url(<%= articles[1].image_url %>);"></div>
    <% end %>
    <h3><%= articles[1].title %> <span>Published <%= articles[1].date_published.strftime("%b %e, %Y") %></span></h3>
    <p><%= articles[1].body.gsub("\n","<br/>").html_safe %></p>
  </div>
  <div class="box w-25 h-70">
    <% if articles[3].image_url %>
    <div class="img-cont" style="background-image: url(<%= articles[3].image_url %>);"></div>
    <% end %>
    <h3><%= articles[2].title %> <span>Published <%= articles[2].date_published.strftime("%b %e, %Y") %></span></h3>
    <p><%= articles[2].body.gsub("\n","<br/>").html_safe %></p>
  </div>
  <div class="box w-50 h-30 box-b-r title-top">
    <h3><%= articles[3].title %> <span>Published <%= articles[3].date_published.strftime("%b %e, %Y") %></span></h3>
    <p><%= articles[3].body.gsub("\n","<br/>").html_safe %></p>
  </div>
  <div class="box w-50 h-30 title-top">
    <h3><%= articles[4].title %> <span>Published <%= articles[4].date_published.strftime("%b %e, %Y") %></span></h3>
    <p><%= articles[4].body.gsub("\n","<br/>").html_safe %></p>
  </div>
</div>