<div class="f-page">
  <%= render "page_title", :category => category %>
  <div class="box w-25 h-70">
    <%= render "article", :article => articles[0] %>
  </div>
  <div class="box w-50 h-70 box-b-l box-b-r">
    <%= render "article", :article => articles[1] %>
  </div>
  <div class="box w-25 h-70">
    <%= render "article", :article => articles[2] %>
  </div>
  <div class="box w-50 h-30 box-b-r title-top">
    <%= render "article", :article => articles[3] %>
  </div>
  <div class="box w-50 h-30 title-top">
    <%= render "article", :article => articles[4] %>
  </div>
</div>