<div class="f-page">
  <%= render "page_title", :category => category %>
  <div class="box w-25 h-70">
    <div class="img-cont img-1"></div>
    <h3><%= articles[0].title %> <span>Published May 3, 2012</span></h3>
    <p><%= articles[0].body %></p>
  </div>
  <div class="box w-50 h-70 box-b-l box-b-r">
    <div class="img-cont img-2"></div>
    <h3><%= articles[1].title %> <span>Published May 3, 2012</span></h3>
    <p><%= articles[1].body %></p>
  </div>
  <div class="box w-25 h-70">
    <div class="img-cont img-3"></div>
    <h3><%= articles[2].title %> <span>Published May 3, 2012</span></h3>
    <p><%= articles[2].body %></p>
  </div>
  <div class="box w-50 h-30 box-b-r title-top">
    <h3><%= articles[3].title %> <span>Published May 3, 2012</span></h3>
    <p><%= articles[3].body %></p>
  </div>
  <div class="box w-50 h-30 title-top">
    <h3><%= articles[4].title %> <span>Published May 3, 2012</span></h3>
    <p><%= articles[4].body %></p>
  </div>
</div>