<header class="main-title">
  <h1>You are reading TrendingMagazine's <strong><%= @category.name %> section</strong></h1>
  <p>Swipe or drag to flip the pages, click to open items </p>
  <p><strong>Best viewed in a Webkit browser (Safari, Chrome)</strong></p>
</header>

<div id="flip" class="container">
  <%= render :partial => "cover", :locals => { :pages => @pages} %>
  <%= render :partial => "page1", :locals => { :articles => @pages[0], :category => @category } %>
  <%= render :partial => "page2", :locals => { :articles => @pages[1], :category => @category } %>
  <%= render :partial => "page3", :locals => { :articles => @pages[2], :category => @category } %>
  <%= render :partial => "back_cover" %>
</div>