<div class="page-header">
  <h1>Sources &raquo; @<%= @source.screen_name %></h1>
</div>

<table class="table table-bordered table-striped profile-view-table">
  <tbody>
    <tr>
      <th>Category</th>
      <td><%= @source.category.name %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td>
        <%= @source.name %>
        <%= image_tag @source.profile_image_url unless @source.profile_image_url.nil? %>
      </td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @source.description %></td>
    </tr>
    <tr>
      <th>Location</th>
      <td><%= @source.location %></td>
    </tr>
    <tr>
      <th>Url</th>
      <td><%= link_to(@source.url, @source.url) unless @source.url.nil? %></td>
    </tr>
    <tr>
      <th>Registered at</th>
      <td><%= time_ago_in_words(@source.date_registration).titleize + " ago" unless @source.date_registration.nil? %></td>
    </tr>
    <tr>
      <th>Language</th>
      <td><%= @source.lang %></td>
    </tr>
  </tbody>
</table>

<%= link_to admin_sources_path, class: "btn" do %>
    <i class="icon-arrow-left"></i>
    Back to the listing page
<% end %>